{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero min-h-[400px]"
     style="background-image: url({% static 'web_elements\banners\trip-packages-banner.jpg' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold font-custom">Adventures</h1>
            <p class="mb-5">{% lorem 1 b random %}.</p>
        </div>
    </div>
</div>
<div id="trip-package-list" class="w-full lg:w-3/4 flex flex-wrap relative mb-20">
    {% include 'includes/filter/filtered-trips.html' %}
</div>
{% endblock %}
