{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="hero min-h-[400px]"
     style="background-image: url({% static 'web_elements\banners\trip-packages-banner.jpg' %});">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold font-custom">Adventures</h1>
            <p class="mb-5">{% lorem 1 b random %}.</p>
        </div>
    </div>
</div>
{% for trip in trips %}
    <div class="w-full sm:w-1/2 md:w-1/2 px-4 pb-4">
        <div class="border rounded-lg p-4">
            <a href="#">
                <img class="w-full h-48 object-cover mb-4" src="{{ trip.main_image.url }}" alt="{{ trip.name }}">
                <h2 class="text-lg font-semibold">{{ trip.name }}</h2>
            </a>
            <p>Price: €{{ trip.price }}</p>
            <p>Difficulty: {{ trip.difficulty }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}
