{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Trip Name for Desktop View -->
<div class="w-full relative gradient-container h-[55vh]">
    <img class="absolute w-full h-full object-cover"
        src="{{ trip.get_image_url }}"
        alt="{{ trip.name }}">
    <div class=" md:w-[70%] absolute bottom-0 left-0 right-0 hidden sm:block text-container">
        <h1 class="text-white contrast-100 font-shadow uppercase text-6xl font-bold pb-4 pl-4 max-w-11/12">
            {{ trip.name }}
        </h1>
    </div>
        <div class="absolute bottom-0 left-0 right-0 hidden sm:block gradient-bg"></div>
    </div>
<!-- Main Content Container -->
<div  class="bg-gray-900" data-sticky-container>

    <!-- Grid Layout for Trip Details and Price -->
    <div class="mb-5 md:mb-0 md:grid md:grid-cols-[2fr,1fr]">

        <!-- Horizontal Line -->
        <hr class="h-px mb-0 bg-gray-200 border-0 dark:bg-gray-700 col-span-3">

        <!-- Trip Details Section -->
        <div class="px-4 flex-col sm:flex-row pt-4 md:col-span-1">

            <!-- Trip Name -->
            <h1 class="text-white uppercase text-4xl font-bold mb-5 sm:hidden"
                aria-label="Trip name">
                {{ trip.name }}
            </h1>
            <hr class="h-px mb-0 bg-gray-200 border-0 dark:bg-gray-700 col-span-3 sm:hidden">

            {% include 'includes/trip_details/trip-details-grid.html'%}
        </div>

        <!-- Trip Price Section -->
        <div class="hidden md:grid lg:block bg-white p-4 md:pb-0 md:col-span-1 sticky-selector">
            <p class=" text-gray-500 text-center ">
                Reserve Your Spot Today!
            </p>
            <p class="flex justify-center items-center text-4xl font-bold text-primary my-2">
                €{{ trip.price }}
                <span class="text-lg font-normal">
                    /pp
                </span>
            </p>
            <div class="rating flex justify-center items-center w-full">

            <!-- Reviews -->
            {% include 'includes/reviews/review-stars.html'%}
                {% if trip.overall_rating %}
                    <a id="reviewLink"
                        href="{% url 'trip_details' trip.id %}"
                        hx-get="{% url 'trip_reviews' trip.id %}"
                        hx-trigger="click"
                        hx-target="#trip-sub-section"
                        class="ml-1 mt-1 text-sm text-blue-500 contrast-100">
                        ({{ review_count }} review{{ review_count|pluralize }})
                    </a>
                {% else %}
                    <span class="badge badge-sm badge-accent badge-outline ml-1">
                        New
                    </span>
                {% endif %}
            </div>
            <button onclick="toggleDrawer()"
                    class="btn btn-secondary glass bg-secondary w-full mt-2"
                    hx-get="{% url 'booking_drawer' trip.id %}"
                    hx-trigger="click"
                    hx-target="#booking-drawer-content">
                    Available Dates
        </button>
        </div>

        <!-- Sticky Bottom Button -->
        <div class="md:hidden shadow-inner fixed inset-x-0 bottom-0 z-50 bg-white p-2 flex items-center justify-between">
            <button onclick="toggleDrawer()"
                    class="btn btn-secondary "
                    hx-get="{% url 'booking_drawer' trip.id %}"
                    hx-trigger="click"
                    hx-target="#booking-drawer-content">
                    Available Dates
            </button>
            <p class="inline-flex items-center text-2xl text-center shad font-bold text-black ml-auto">
                €{{ trip.price }}
                <span class="text-sm font-normal">
                    /pp
                </span>
            </p>
        </div>
    </div>

    <!-- Trip Sub Details -->
    <div class="bg-white md:grid md:grid-cols-[2fr,1fr]">
        <div class="border rounded-b-xl">
            <div class="tabs tabs-boxed shadow-md flex justify-center bg-slate-100 font-bold pt-2">
                <a id="overviewTab"
                    class="tab tab-active uppercase"
                    aria-label="Trip Details"
                    hx-get="{% url 'trip_overview' trip.id %}"
                    hx-trigger="click"
                    hx-target="#trip-sub-section">
                    Overview
                </a>
                
                <a id="reviewsTab"
                    class="tab uppercase"
                    aria-label="Reviews"
                    hx-get="{% url 'trip_reviews' trip.id %}"
                    hx-trigger="click"
                    hx-target="#trip-sub-section">
                    Reviews
                </a>
            </div>
            <div class="divider my-0 bg-slate-100"></div>
            <div id="trip-sub-section" class="w-full">
                {% include 'includes/overview/trip-overview.html' %}
            </div>
        </div>    
    </div>
</div>

<script>
	function toggleDrawer() {
		var drawerCheckbox = document.getElementById('my-drawer-4');
		drawerCheckbox.checked = !drawerCheckbox.checked;
	}
</script>
<!-- Booking Drawer Include -->
{% include 'includes/booking/booking-drawer.html' %}

<!-- JavaScript Section -->
<script src="{% static 'trip_details/trip-details.js' %}"></script>

{% endblock %}