{% block content %}

<div class="favorite-trips-container">
    {% if favorite_trips %}

        <!-- Apply grid when there are favorite trips -->
        <div class="grid md:grid-cols-2">
            {% for favorite in favorite_trips %}

                <!-- Individual Favorite Trip Card -->
                <div class="mb-4 rounded-lg bg-white shadow-md flex flex-row mr-4">
                    <div class="flex-col justify-center">
                        <h2 class="rounded-t-lg text-white text-sm font-semibold glass bg-gray-950 p-2 shadow-md text-center">
                            {{ favorite.trip.name }}
                        </h2>
                        <img src="{{ favorite.trip.main_image.url }}"
                            alt="{{ favorite.trip.name }}"
                            class="w-full">
                        <a href="{% url 'trip_details' favorite.trip.id %}"
                            class="btn rounded-t-none w-full">
                            View Trip Details
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}

        <!-- Show message when there are no favorite trips -->
        <div class="mx-auto text-center">
            <p class="text-gray-500 py-2 px-4">
                Your favorites list is empty.<br />
                Discover our trips to find the ones you'd love to experience
            </p>
            <a class="btn btn-primary text-secondary btn-wide mt-5"
                href="{% url 'trip_packages' %}">Go Explore!
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
