{% block content %}
    {% for review in reviews %}

    <!-- Individual Review Container -->
    <div class="mb-1 rounded-lg">
        <div class="flex flex-col">

            <!-- Review Header and Status -->
            <div class="rounded-t-lg flex justify-between text-white glass bg-gray-700 p-2 font-semibold shadow-md">
                <h1 class="">
                    {{ review.trip.name }}
                </h1>
                {% if not review.is_approved %}
                    <p class="text-yellow-500 text-xs mt-1">
                        Review is pending approval
                    </p>
                {% endif %}
            </div>

            <!-- Review Body -->
            <div class=" rounded-lg bg-white shadow-md flex flex-col sm:flex-row justify-between relative">
                <div class="review flex flex-col items-center p-4">
                    <h2 class="font-bold uppercase items-center mb-2">{{ review.title }}</h2>
                    <p class=" font-semibold">Comment: 
                        <span class="comment-text text-sm font-normal">
                            {{ review.comment }}
                        </span>
                    </p>
                </div>
            </div>

            <!-- Edit and Delete Buttons -->
            <div class="flex justify-between">
                <button hx-get="{% url 'edit_review' review.id %}"
                        
                        hx-target="#my_modal_3 .modal-box"
                        onclick="my_modal_3.showModal()"
                        hx-swap="innerHTML"
                        class="btn btn-sm btn-outline border-none w-1/2 btn-secondary">
                        Edit
                </button>
                <button hx-get="{% url 'delete_review' review.id %}"
                        hx-swap="innerHTML"
                        hx-target="#my_modal_3 .modal-box"
                        onclick="my_modal_3.showModal()"
                        class="btn btn-sm btn-outline border-none w-1/2 btn-error">
                        Delete
                </button>
            </div>
        </div>
    </div>

    <!-- Message if there are no Reviews -->
    {% empty %}
    <div class="mx-auto text-center">
        <p class="text-gray-500 py-2 px-4">
            You haven't written any reviews yet..<br />
            Share your experiences to help other travelers!
        </p>
        <a class="btn btn-primary text-secondary btn-wide mt-5"
            href="{% url 'trip_packages' %}">Go Explore!
        </a>
    </div>
    {% endfor %}
{% endblock %}
