{% extends 'base.html' %}
{% load static %}
{% load account %}

{% block head_title %}Confirm Email Address{% endblock %}

{% block content %}
<!-- Main Content -->
<section aria-labelledby="confirm-email-title">

    <div class="flex justify-center py-20">
        
        <div class="w-[91.666667%] max-w-[32rem] rounded-xl p-6 shadow-2xl bg-white">

            <!-- SVG Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="#F7AD3A" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="w-16 h-16 mx-auto" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>

            <!-- Title -->
            <h1 id="confirm-email-title" class="text-2xl font-bold my-2 text-center" aria-label="Confirm Email Address Heading">Confirm Email Address</h1>

            {% if confirmation %}
            {% user_display confirmation.email_address.user as user_display %}
            
            {% if can_confirm %}

            <!-- Confirmation message -->
            <p class="my-3 text-center">Please confirm that <a href="mailto:{{ email }}" class="text-blue-500 font-bold text-center">{{ email }}</a> is an email address for user <strong>{{ user_display }}</strong>.</p>

            <!-- Confirm button -->
            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn btn-primary w-full mt-4 text-secondary" type="submit">Confirm</button>
            </form>
            {% else %}
                <p>Unable to confirm {{ email }} because it is already confirmed by a different account.</p>
            {% endif %}
            {% else %}
            {% url 'account_email' as email_url %}
            <p class="text-center" >This email confirmation link expired or is invalid.</p>
            <p class="text-blue-500 text-center">
                <a href="{{ email_url }}">Issue a new email confirmation request</a>
            </p>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}
