{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="grid place-items-center min-h-screen"
         style="background-image: url({% static 'web_elements/hero/main-hero-bg.png' %}); background-attachment: fixed; background-size: cover;">
            <div class="w-[91.666667%] max-w-[32rem] rounded-xl p-6 shadow-2xl bg-white -mt-[32rem]">
            <p class="text-center">{% trans 'Your password has been changed.' %}</p>
        </div>
    </div>
{% endblock %}
