{% load i18n %}
{% load account %}

{% load tailwind_filters %}

<button type="button" class="btn btn-sm btn-circle btn-ghost absolute left-2 top-2" {% url 'account_login' %} hx-get="{% url 'account_login' %}" hx-target="#my_modal_3 .modal-box">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
    </svg>                    
</button>

<button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="document.getElementById('my_modal_3').close();">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>                  
</button>

    <h1 class="text-2xl font-bold text-center mb-4">{% trans "Password Reset" %}</h1>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

<form method="POST" action="{% url 'account_reset_password' %}" hx-post="{% url 'account_reset_password' %}" hx-target="#my_modal_3 .modal-box" class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
        <input class="btn mt-2 w-full" type="submit" value="{% trans 'Reset My Password' %}" />
</form>