{% load tailwind_filters %}

{% block content %}

<!-- Main Content -->
<section aria-labelledby="set-password-title">

    <!-- Main Grid Container -->
    <div class="grid place-items-center min-h-screen"
            style="background-image: url({% static 'web_elements/hero/main-hero-bg.webp' %}); background-size: cover;">
        
        <div class="w-[91.666667%] max-w-[32rem] rounded-xl p-6 shadow-2xl bg-white">

            <!-- Close button -->
            <button type="button"
                    aria-label="Close Set Password Modal"
                    class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
                    onclick="document.getElementById('my_modal_3').close();">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>

            <!-- Title section -->
            <h1 id="set-password-title" class="text-2xl font-bold mt-2 text-center" aria-label="Set Password Heading">Set Password</h1>

            <!-- Form section -->
            <form method="POST"
                    action="{% url 'account_set_password' %}"
                    class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                
                <!-- Submit Button -->
                <button class="btn btn-primary w-full text-secondary mt-6" type="submit" aria-label="Set Password Button">Set Password</button>
            </form>

        </div>
    </div>

</section>

{% endblock %}

