{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block head_title %}Change Password{% endblock %}

{% block content %}

<!-- Main Content -->
<section aria-labelledby="change-password-title">

    <div class="flex justify-center py-20">
        
        <div class="w-[91.666667%] max-w-[32rem] rounded-xl p-6 shadow-2xl bg-white">

            <!-- Heading -->
            <h1 id="change-password-title" class="text-2xl font-bold text-center mb-4" aria-label="Change Password Heading">
                {% if token_fail %}Bad Token{% else %}Change Password{% endif %}
            </h1>

            <!-- Condition Based Content -->
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-center" aria-label="Token Error Message">The password reset link is invalid, possibly because it has already been used.</p>
            {% else %}

                <!-- Success Icon -->
                <svg viewBox="0 0 24 24" class="text-green-600 w-16 h-16 mx-auto my-2" aria-hidden="true">
                    <path fill="currentColor"
                            d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
                    </path>
                </svg>

                <!-- Form -->
                <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary text-secondary mt-5 w-full" type="submit" name="action" value="change password" aria-label="Change Password Button"/>
                </form>

            {% endif %}
        </div>
    </div>

</section>
{% endblock %}
