{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load tailwind_filters %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="grid place-items-center min-h-screen"
     style="background-image: url({% static 'web_elements/hero/main-hero-bg.png' %}); background-attachment: fixed; background-size: cover;">
        <div class="w-[91.666667%] max-w-[32rem] rounded-xl p-6 shadow-2xl bg-white -mt-[32rem]">
        <h1 class="text-2xl font-bold mt-2 text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="text-center">{% blocktrans %}The password reset link is invalid, possibly because it has already been used.{% endblocktrans %}</p>
        {% else %}
            <form method="POST" action="{{ action_url }}" class="password_reset_from_key">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn mt-1 w-full" type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% endif %}
        </div>
    </div>
{% endblock %}