{% block content %}

<!-- Main content -->
<section aria-labelledby="change-password-heading">
    <!-- Heading -->
    <h1 id="change-password-heading" class="text-2xl font-bold my-2 text-center">Change Password</h1>

    <!-- Form Section -->
    <form method="POST"
            action="{% url 'account_change_password' %}"
            class="password_change">
        {% csrf_token %}
        {{ form|crispy }}

        <!-- Submit Button -->
        <button class="btn btn-primary w-full text-secondary mt-6"
                type="submit"
                name="action"
                aria-label="Change Password Button">Change Password
        </button>

        <!-- Forgot Password Link -->
        <a href="{% url 'account_reset_password' %}"
            class="text-blue-500 text-sm"
            hx-get="{% url 'account_reset_password' %}"
            hx-target="#my_modal_3 .modal-box"
            aria-label="Forgot Password Link">Forgot Password?
        </a>
    </form>
</section>

{% endblock %}
