{% extends 'base.html' %}
{% load static %}

{% block head_title %}Change Password{% endblock %}

{% block content %}

<!-- Main Content -->
<section aria-labelledby="change-password-title">

    <div class="flex justify-center py-20">
        
        <div class="w-[91.666667%] max-w-[32rem] rounded-xl p-6 shadow-2xl bg-white">

            <!-- Heading -->
            <h1 id="change-password-title" class="text-2xl font-bold text-center mb-4">Change Password</h1>

            <!-- Success Icon -->
            <svg viewBox="0 0 24 24" class="text-green-600 w-16 h-16 mx-auto my-2" aria-hidden="true">
                <path fill="currentColor"
                        d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
                </path>
            </svg>

            <!-- Success Message -->
            <p class="text-center">Your password has been changed.</p>

            <!-- Login Link -->
            <div class="flex justify-center my-2">
                <a href="{% url 'account_login' %}"
                    class="btn btn-primary w-full text-secondary"
                    hx-get="{% url 'account_login' %}"
                    hx-target="#my_modal_3 .modal-box"
                    onclick="my_modal_3.showModal()">Login</a>
            </div>

        </div>
    </div>

</section>

{% endblock %}
