{% load i18n %}
{% load tailwind_filters %}

<button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="document.getElementById('my_modal_3').close();">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
  </svg>  
</button>
  <h1 class="text-2xl font-bold mt-2 text-center">{% trans "Sign Up" %}</h1>

<form class="relative" method="POST" action="{% url 'account_signup' %}" hx-post="{% url 'account_signup' %}" hx-target="#my_modal_3 .modal-box">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
    <div class="flex flex-col w-full border-opacity-50 mt-3">
      <div>
        <button class="btn w-full" type="submit">{% trans "Sign Up" %}</button>
      </div>
        <div class="divider">Have an account ?</div>
      <div>
        <button class="btn w-full" {% url 'account_login' %} hx-get="{% url 'account_login' %}" hx-target="#my_modal_3 .modal-box">Login</a>
      </div>
    </div>
</form>