{% load tailwind_filters %}

{% block content %}

<!-- Main content -->
<section aria-labelledby="signup-title">

    <!-- Close Button -->
    <button type="button"
            aria-label="Close Sign Up Modal"
            class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2"
            onclick="document.getElementById('my_modal_3').close();">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>

    <!-- Icon -->
    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="#F7AD3A" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 mx-auto">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z" />
    </svg>

    <!-- Heading -->
    <h1 id="signup-title" class="text-2xl font-bold text-center">Sign Up</h1>

    <!-- Login Link Section -->
    <div class="flex justify-center my-2 text-sm">
        <p>Have an account?</p>
        <a href="{% url 'account_login' %}"
            class="text-blue-500 ml-1"
            hx-get="{% url 'account_login' %}"
            hx-target="#my_modal_3 .modal-box"
            hx-swap="innerHTML transition:true">
            Login
        </a>
    </div>

    <!-- Form Section -->
    <form   method="POST"
            hx-post="{% url 'account_signup' %}"
            hx-target="#my_modal_3 .modal-box">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}" />
        {% endif %}
		
        <!-- Submit Button -->
		<button id="signupButton" class="btn btn-primary w-full text-secondary mt-4" 
                type="submit"
                hx-trigger="submit"
                hx-post="{{ request.path }}" 
                hx-target="#my_modal_3 .modal-box"
                hx-indicator="#loadingIndicator"
                hx-swap="innerHTML">
        Sign Up
        <span id="loadingIndicator" class="hidden loading loading-spinner"></span>
        </button>
    </form>

</section>

{% endblock %}
