{% load static %}
{% load location_count %}
{% load countries %}

<!-- Country Carousel -->
<div id="country-carousel" class="glide mx-auto max-w-md sm:max-w-5xl">
    <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
            {% for country_code, image_url in country_image_map.items %}

                <!-- Each Slide -->
                <li class="glide__slide relative lazyload">

                    <a href="{% url 'trip_packages' %}?filter=on&location={{ country_code }}">
                    <!-- Gradient Overlay -->
                    <div class="absolute  z-9 rounded-b-2xl"></div>
                    <img src="{% static image_url %}"
                        alt="{{ country_code|country_name }}"
                        class="rounded-2xl shadow-lg w-full"
                        loading="lazy"
                        width="250" height="250"
                    >
                    

                    <!-- Country Info -->
                    <div class="absolute top-5 left-0 w-full text-center font-bold contrast-75">
                        <p class="text-secondary font-shadow uppercase text-5xl">
                            {{ country_code|country_name }}
                        </p>
                    </div>

                    <!-- Trips Link at the Bottom -->
                    <div class="absolute bottom-5 left-0 w-full rounded-none text-center btn glass lg:btn-sm text-white hover:bg-primary border-white">

                            
                            Adventures: 
                            <span class="text-primary badge">
                                {{ location_count_dict|get_item:country_code|default:"0" }}
                            </span>
                        
                    </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Carousel Navigation Arrows -->
    <div class="glide__arrows hidden md:block" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<" aria-label="Previous Slide">&#10094;</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" aria-label="Next Slide">&#10095;</button>
    </div>
</div>
