{% load static %}

<!-- JavaScript Section -->
<script src="{% static 'filter_sidebar/filter-sidebar.js' %}"></script>

<!-- Main Form for Filters -->
<form hx-get="{% url 'trip_packages' %}"
    hx-target="#trip-package-list"
    id="filterForm-{{ unique_identifier }}"
    hx-trigger="change">
    <div class="join join-vertical w-full bg-white">

        <!-- Price Slider Container -->
        <div class="collapse collapse-arrow join-item border border-base-300">

            <!-- Collapse Title -->
            <input type="radio" name="filter">
            
            <div class="collapse-title text-xl font-medium flex items-center">
                <img src="{% static 'web_elements/svg_icons/trip_icons/price_icon.svg' %}" 
                    alt="Price Icon"
                    class="w-6 h-6 mr-2 filter-icon">Price
            </div>
            <div class="collapse-content">

                <!-- Price Labels and Range Input -->
                <div class="flex justify-between">
                    <label for="price-range-slider" class="btn btn-sm">
                        Up to:
                    </label>
                    <p class="max-price-label btn btn-sm">€
                        {{ price_range.max_price }}
                    </p>
                </div>

                <!-- Price Range Slider -->
                <input type="range" class="filter-checkbox range range-xs range-secondary max-price mt-2" name="price"
                        min="{{ price_range.min_price }}" 
                        max="{{ price_range.max_price }}"
                        value="{{ price_range.max_price }}"
                        aria-labelledby="price-range-label">
                <p class="text-center text-xs font-semibold capitalize">
                    Slide to adjust
                </p>
            </div>
        </div>

        <!-- Loop to Generate Other Filters -->
        {% for filter_name, filter_items in filters.items %}
        {% if filter_name != "price" %}

        <!-- Generic Filter Section -->
        <div class="collapse collapse-arrow join-item border border-base-300">
            <input type="radio" name="filter" aria-label="{{ filter_name|capfirst }} Filter"> 
            <div class="collapse-title text-xl font-medium flex items-center">

                <!-- Dynamic Filter Icon -->
                <img src="{% static 'web_elements/svg_icons/trip_icons/'|add:filter_name|add:'_icon.svg' %}" 
                    alt="{{ filter_name|capfirst }} Icon"
                    class="w-6 h-6 mr-2 filter-icon">

                <!-- Filter Name -->
                {{ filter_name|capfirst }}
            </div>
            <div class="collapse-content flex-col">

                    <!-- Special case for 'season' filter -->
                    {% if filter_name == "season" %}
                        {% for season, months in filter_items.items %}
                            <div class="collapse collapse-arrow join-item border border-base-300 mt-2">
                                <input type="radio" name="season-filter" aria-label="{{ month.display }}">
                                <div class="collapse-title font-medium">
                                    {{ season }}
                                </div>
                                <div class="collapse-content">
                                    <ul>
                                        {% for month in months %}
                                            <li class="flex mt-2">
                                                <input type="checkbox" 
                                                        class="filter-checkbox checkbox mr-2" 
                                                        name="{{ filter_name }}" 
                                                        value="{{ month.value }}">
                                                {{ month.display }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}

                        <!-- Generic filter items -->
                        {% for item in filter_items %}
                        <ul>
                            <li class="flex mt-2">
                                <input type="checkbox" 
                                        class="filter-checkbox checkbox mr-2" 
                                        name="{{ filter_name }}" 
                                        value="{{ item.value }}"
                                        aria-label="{{ item.display }}">
                                {{ item.display }}
                            </li>
                        </ul>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Reset Filters Button (initially hidden) -->
    <button class="resetButton btn bg-neutral text-primary glass hover:bg-secondary w-full mt-2 hidden"
            type="button"
            onclick="resetFilters()">
        Reset Filters
    </button>
</form>