{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main Title Section -->
<div class="mx-auto max-w-5xl mt-6">
    <h1 class="text-2xl text-center px-6"> 
        Thank You for Booking with us! 
    </h1>
</div>

<!-- Checkout Success Information Section -->
<div id="checkoutSuccess" class="max-w-5xl mx-auto">
    <div class="bg-white px-6">
        <!-- Success Icon -->
        <svg viewBox="0 0 24 24" class="text-[#379673] w-16 h-16 my-2 mx-auto" aria-hidden="true">
            <path fill="currentColor"
                d="M12,0A12,12,0,1,0,24,12,12.014,12.014,0,0,0,12,0Zm6.927,8.2-6.845,9.289a1.011,1.011,0,0,1-1.43.188L5.764,13.769a1,1,0,1,1,1.25-1.562l4.076,3.261,6.227-8.451A1,1,0,1,1,18.927,8.2Z">
            </path>
        </svg>

        <!-- Payment Success Message -->
        <div class="text-center">
            <h3 class="md:text-2xl text-base font-semibold text-centermb-2">
                Payment Successful!
            </h3>
            
            <!-- Order ID Display -->
            <p class="text-black badge badge-lg py-6">Order ID:
                <strong class="ml-2">
                    {{ order.order_number }}
                </strong>
            </p>
            
            <!-- Confirmation Email Message -->
            <p class="text-black text-sm pt-2">
                A confirmation email will be sent to 
                <strong>{{ order.email }}</strong>
            </p>
            
            <!-- Additional Message -->
            <p class="py-2 ">
                Have a great day!
            </p>

            <!-- Back to Home Button -->
            <div class="pt-2 mb-12 text-center">
                <a href="{% url 'home' %}"
                    class="btn btn-primary text-secondary w-50" aria-label="Back to Home">
                    Back to Home
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
