@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen-hero {
    min-height: 100vh;
}

.navbar {
    min-height: 4.5rem;
}

.top-footer-bg {
    background-image: url('/static/web_elements/top-footer-bg.png');
    background-size: cover;
    height: 50vh;
}