{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main Container -->
<div class="py-10">
    <div class="mx-auto max-w-5xl justify-center px-6 md:flex xl:px-0">
        
        <!-- Nav Section -->
        <div class="rounded-lg md:w-2/3">

            <!-- Tabs -->
            <div class="flex justify-center tabs tabs-boxed glass bg-secondary font-bold mb-4 mr-3">
                <a class="tab  tab-active"
                    hx-get="{% url 'user_bookings' %}"
                    hx-trigger="click"
                    hx-target="#nav-content">
                    Bookings
                </a>
                <a class="tab"
                    hx-get="{% url 'user_favorites' %}"
                    hx-trigger="click"
                    hx-target="#nav-content">
                    Favorite Trips
                </a>
                <a class="tab"
                    hx-get="{% url 'user_reviews' %}"
                    hx-trigger="click"
                    hx-target="#nav-content">
                    Reviews
                </a>
                <a class="tab">Settings</a>
            </div>

            <!-- Tab Content -->
            <div id="nav-content">
                {% include 'includes/user-bookings.html' %}
            </div>
        </div>

            <!-- Profile avatar, personal details -->
            <div class="glass bg-slate-50 h-full rounded-lg border p-6 shadow-md md:mt-0 md:w-1/3">
                <h2 class="text-center text-2xl">Hey {{ profile.user.first_name }}!</h2>
                    <div class="avatar flex justify-center mt-6">
                        <div class="w-32 rounded-full ring ring-warning ring-offset-base-100 ring-offset-2">

                            <!-- Display Profile Image -->
                            {% if profile.profile_image %}
                                <img src="{{ profile.profile_image.url }}" alt="Profile Image">
                            {% else %}

                                <!-- Display Placeholder -->
                                <div class="avatar placeholder">
                                    <div class="bg-secondary-focus glass text-neutral-content rounded-full w-32">
                                        <span class="text-5xl font-bold">
                                            {{ profile.user.first_name|slice:":1" }}{{ profile.user.last_name|slice:":1" }}
                                        </span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <!-- Personal Information -->
                    <!-- Show information if available -->
                    {% if profile.country and profile.city and profile.phone_number and profile.emergency_contact_name and profile.emergency_contact_phone %}
                    <div class="join join-vertical w-full mt-4">
                        <div class="collapse collapse-arrow rounded-lg border border-base-300">
                            <input type="checkbox" />
                            <div class="min-h-0 collapse-title font-medium">
                                Personal Information:
                            </div>
                            <div class="collapse-content"> 
                                <hr class="mb-4">
                                <p><strong>Name:</strong> 
                                    {{ profile.user.first_name }}
                                </p>
                                <p><strong>Surname:</strong> 
                                    {{ profile.user.last_name }}
                                </p>
                                <p><strong>Email:</strong> 
                                    {{ profile.user.email }}
                                </p>
                                <hr class="my-4">
                                <p><strong>Country:</strong> 
                                    {{ profile.country }}
                                </p>
                                <p><strong>City:</strong> 
                                    {{ profile.city }}
                                </p>
                                <p><strong>Phone:</strong> 
                                    {{ profile.phone_number }}
                                </p>
                                <hr class="mt-4">
                                <p class="text-sm my-2">
                                    Emergency contacts:
                                </p>
                                <p><strong>Name:</strong> 
                                    {{ profile.emergency_contact_name }}
                                </p>
                                <p><strong>Phone:</strong> 
                                    {{ profile.emergency_contact_phone }}
                                </p>
                            </div>
                        </div>
                    </div> 

                    {% else %}
                        <!-- Update Profile Message -->
                        <div class="alert bg-gray-950 glass text-white mt-5">
                            <svg xmlns="http://www.w3.org/2000/svg" stroke="orange" class="shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                            <span class="text-sm">Please update your profile!</span>
                        </div>
                    {% endif %}

                <!-- Edit Profile and Sign Out Buttons -->
                <button class="btn btn-outline text-primary hover:bg-accent mt-2 w-full py-1.5"
                        hx-get="{% url 'edit-profile' %}"
                        hx-target="#my_modal_3 .modal-box"
                        hx-select="#editProfileForm"
                        onclick="my_modal_3.showModal()">Edit Profile
                </button>
                <button class="btn btn-outline hover:bg-error mt-2 w-full py-1.5"
                        hx-get="{% url 'account_logout' %}"
                        hx-target="#my_modal_3 .modal-box"
                        onclick="my_modal_3.showModal()">Sign Out
                </button>
            </div>
    </div>
</div>

<!-- JavaScript for Tab Behavior -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const tabs = document.querySelectorAll(".tab");
        tabs.forEach(tab => {
            tab.addEventListener("click", function() {
                tabs.forEach(t => t.classList.remove("tab-active"));
                this.classList.add("tab-active");
            });
        });
    });
</script>
{% endblock %}

