{% load static %}

<div id="entire-cart-section">
    {% if messages %}
    <div class="message-container">
        {% include 'includes/toast-notifications.html' %}
    </div>
    {% endif %}
<div class="dropdown dropdown-end"
    aria-haspopup="true">

    <!-- Cart Icon Button -->
    <label tabindex="0"
        class="btn btn-ghost btn-circle">
        <span class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7"
                fill="none" viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2.5">
            <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
            </svg>
            {% if cart_total_items > 0 %}
                <span id="indicator" class="badge badge-sm bg-secondary indicator-item">
                    {{ cart_total_items }}
                </span>
            {% endif %}
            </span>
    </label>

    <!-- Cart Items -->
    <div tabindex="0"
        class="mt-4 z-[10] card card-compact dropdown-content  w-64 sm:w-80 bg-base-100 shadow-xl">

        <div id="cart-items" class="card-body">

            {% if cart %}
        <ol>    
            <!-- Loop through items in the cart -->
            {% for item in cart %}

            <li class="flex justify-between items-center mb-2 relative text-center border rounded-lg">
                <span class="">
                    <!-- Link to trip details page -->
                    <a href="{% url 'trip_details' item.trip_id %}">
                        <!-- Display trip image -->
                        <img src="{{ item.trip_image }}" alt="{{ item.trip.name }}" class="w-full rounded-t-lg mb-1 lazyload">
                        <!-- Display trip name and date range -->
                        <span class="font-bold">
                            {{ item.trip_name }}
                        </span>    
                        <span class="text-sm lowercase badge badge-lg bg-secondary w-full border-none mt-1">
                            {{ item.start_date }} <strong class="mx-2">to</strong> {{ item.end_date }}
                        </span>
                    </a>
                </span>
            
                <!-- Button to remove item from the cart -->
                <a href="{% url 'remove_from_cart_view' item.trip_id item.available_date_id %}"
                    hx-get="{% url 'remove_from_cart_view' item.trip_id item.available_date_id %}" 
                    hx-target="#entire-cart-section" 
                    hx-swap="outerHTML"
                    class="absolute top-1 right-1 btn btn-sm btn-circle hover:bg-secondary"
                    aria-label="Remove Item">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        class="w-6 h-6">
                        <path stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>                                           
                </a>
            </li>  
            {% endfor %}
        </ol>
            <!-- View cart button -->
            <div class="mt-2">
                <a href="{% url 'cart' %}"
                    class="btn btn-primary text-secondary btn-block">
                    View cart
                </a>
            </div>
            {% else %}

            <!-- Display message when cart is empty -->
            <div class="text-center">Cart is empty</div>

            <!-- View trips button -->
            <div class="mt-2">
                <a href="{% url 'trip_packages' %}"
                class="btn btn-primary text-secondary btn-block">
                View Trips
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>