<div id="entire-cart-section">

<div class="dropdown dropdown-end"
    aria-haspopup="true">

    <!-- Cart Icon Button -->
    <label tabindex="0"
        class="btn btn-ghost btn-circle">
        <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="h-7 w-7"
                fill="none" viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2.5">
            <path stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
            </svg>
            {% if cart_total_items > 0 %}
                <span id="indicator" class="badge badge-sm bg-secondary indicator-item">
                    {{ cart_total_items }}
                </span>
            {% endif %}
        </div>
    </label>

    <!-- Cart Items -->
    <div tabindex="0"
        class="mt-6 z-[10] card card-compact dropdown-content w-80 bg-base-100 shadow">

        <div id="cart-items" class="card-body">

        <!-- Cart Title -->
        <span class="text-2xl font-bold mt-2 text-center">Cart</span>
            <ul class="mt-2">
            {% if cart %}

            <!-- Loop through items in the cart -->
            {% for item in cart %}
                <li class="flex justify-between items-center mb-2">
                    <span>

                        <!-- Link to trip details page -->
                        <a href="{% url 'trip_details' item.trip_id %}" class="btn btn-ghost mr-2">
                                
                            <!-- Display trip name and date range -->
                            {{ forloop.counter }}. {{ item.trip_name }}
                            <span class="font-normal lowercase">
                                ({{ item.start_date }} 
                                <strong>to</strong> 
                                {{ item.end_date }})
                            </span>
                        </a>
                    </span>

                    <!-- Button to remove item from the cart -->
                    <a href="{% url 'remove_from_cart_view' item.trip_id item.available_date_id %}">
                        <button type="button"
                                class="btn btn-sm btn-circle"
                                aria-label="Remove Item">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="2"
                                stroke="currentColor"
                                class="w-6 h-6">
                            <path stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>                                           
                        </button>
                    </a>
                </li>
                <div class="divider"></div>  
            {% endfor %}

            <!-- View cart button -->
            <div class="mt-4">
                <a href="{% url 'cart' %}">
                    <button class="btn btn-primary text-secondary btn-block">View cart</button>
                </a>
            </div>
            {% else %}

            <!-- Display message when cart is empty -->
            <li class="text-center">Cart is empty</li>

            <!-- View trips button -->
            <div class="mt-4">
                <a href="{% url 'trip_packages' %}">
                    <button class="btn btn-primary text-secondary btn-block">View Trips</button>
                </a>
            </div>
            {% endif %}
            </ul>
        </div>
    </div>
</div>
</div>