{% load static %}

<div class="navbar bg-base-100">
    <div class="flex-1 flex items-center">
        <img src="{% static 'web_elements/logo-dark.webp' %}" alt="Logo" class="h-10 w-auto">
    </div> 

    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>

        <!-- Cart Dropdown -->
        <div class="dropdown dropdown-end">
            
            <!-- Cart Icon Button -->
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                      </svg>
                    
                    <!-- Display badge only if there are items in the cart -->
                    {% if cart_items_count > 0 %}
                        <span class="badge badge-sm indicator-item">{{ cart_items_count }}</span>
                    {% endif %}
                </div>
            </label>
            
            <!-- Cart Dropdown Content -->
            <div tabindex="0" class="mt-6 z-[1] card card-compact dropdown-content w-60 bg-base-100 shadow">
                <div class="card-body">
                    <span class="font-bold text-lg">Items</span>
                    <span class="text-info">Subtotal:</span>
                    <div class="card-actions">
                        <button class="btn btn-primary btn-block">View cart</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- User Dropdown -->
        <div class="dropdown dropdown-end">
            
            <!-- User Icon Button -->
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <div class="indicator">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                    </svg>
                </div>
            </label>
            
            <!-- User Dropdown Menu -->
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-6 z-[1] p-2 shadow bg-base-100 rounded-box w-60">
                {% if user.is_authenticated %}
                    <button class="btn btn-ghost">Profile</button>
                    <button class="btn btn-ghost">Settings</button>
                    <button class="btn btn-ghost">Logout</button>
                {% else %}
                    <button class="btn btn-ghost">Login</button>
                    <button class="btn btn-ghost">Sign Up</button>
                {% endif %}
            </ul> 
        </div>
    </div>
</div>