{% if form.non_field_errors %}
<div class="flex justify-center py-2">
  <div class="inline-flex justify-center items-center text-xs font-semibold">
    <svg xmlns="http://www.w3.org/2000/svg" stroke="red" class="shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z">
      </path>
    </svg>
    <span class="text-gray-950 bg-secondary p-1 rounded-lg">{{ form.non_field_errors|first }}</span>
  </div>
</div>
{% endif %}

