{% load static %}

<!-- JavaScript Section -->
<script src="{% static 'available_dates/available-dates.js' %}"></script>

<!-- Main Container for Available Dates -->
<div class="join join-vertical w-full">

	<!-- Container for Toast Messages -->
	<div id="toast-messages" class="mb-4">
		
	</div>

	<!-- Check if there are any available dates -->
	{% if available_dates %}

	<!-- Group available dates by Month and Year -->
	{% regroup available_dates by start_date|date:"F Y" as dates_grouped %}

	<!-- Loop through each grouped set of dates -->
	{% for date_group in dates_grouped %}
	<div class="collapse collapse-arrow join-item border border-base-300 rounded">

		<!-- Date Group Title -->
		<input type="radio" name="my-accordion-4"> 
			<div class="collapse-title text-xl font-medium">
				{{ date_group.grouper }}
			</div>

			<!-- Collapsible Content Section -->
			<div class="collapse-content px-1">
				<div class="flex flex-col w-full">

					<!-- Loop through each date within a group -->
					{% for date in date_group.list %}
					<div class="grid h-30 card shadow-xl rounded-box glass place-items-left p-3 mb-3">
						<div class="inline-flex items-start">
							<div>
								<p class="text-lg font-medium">
									{{ date.start_date|date:"l" }} 
									{{ date.start_date|date:"jS" }} of {{ date.start_date|date:"F" }}
								</p>
								<p class="mb-2 text-gray-500 text-sm">  
									to
									{{ date.end_date|date:"l" }} {{ date.end_date|date:"jS" }} of {{ date.end_date|date:"F" }}
								</p>
							</div>
						</div>

						<!-- Display Booking Status -->
						<p class="text-sm flex justify-evenly font-normal mt-2">
							{% if date.remaining_slots == 0 %}
								<span class="text-red-400">
									Fully Booked!
								</span>
							{% else %}
								<span class="badge badge-sm text-sm font-bold">
									{{ date.booked_slots }}
								</span>	
							booked	
								<span class="badge badge-sm text-sm font-bold">
									{{ date.remaining_slots }}
								</span> 
							spots left
							{% endif %}
						</p>

						<!-- Action Buttons -->
						<div class="flex justify-between">
							<a href="{% url 'add_to_cart' trip.id date.id %}"
								hx-post="{% url 'add_to_cart' trip.id date.id %}"
								hx-trigger="click"
								hx-target="#entire-cart-section"
								hx-swap="outerHTML"
								class="btn btn-sm btn-outline mt-2 mr-1 flex-auto {% if date.remaining_slots == 0 %}disabled{% endif %}"
									{% if date.remaining_slots == 0 %}disabled="disabled"{% endif %}>
								Add to Cart
							</a>

							<a href="{% url 'add_to_cart' trip.id date.id %}" 
								class="btn btn-sm glass bg-secondary hover:bg-accent hover:text-white mt-2 flex-auto {% if date.remaining_slots == 0 %}disabled{% endif %}"
								{% if date.remaining_slots == 0 %}disabled="disabled"{% endif %}>
								Book Now
							</a>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
	</div>
	{% endfor %}

	<!-- Display message if no available dates -->
	{% else %}
		<p class="text-gray-500 py-2">There are currently no available dates.</p>
	{% endif %}
</div>