{% extends 'base.html' %}

{% load static %}

{% load custom_filters %}

{% block content %}

{% include 'checkout/loading-overlay.html' %}
<!-- Hero section with background image and overlay -->
<div class="hero min-h-[300px] cart-banner lazyload">
    <div class="hero-overlay bg-gray-900 bg-opacity-50"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="mx-auto max-w-5xl">
            <h1 class="mb-5 text-4xl sm:text-6xl font-bold font-shadow text-secondary contrast-100">
                The Mountains Are Calling
            </h1>
            <p class="mb-5 text-white font-shadow contrast-100">
                "Mountains are both a challenge and a sanctuary, teaching us lessons in humility and preparation. Every step you're about to take will bring you closer to nature, to others, and most importantly, to yourself."
            </p>
        </div>
    </div>
</div>

<!-- Main content area -->
<div class="py-10">
    <div class="mx-auto max-w-5xl justify-center px-6 md:flex md:space-x-4 xl:px-0">
        <!-- Check if cart has items -->
        {% if cart %}
        <div class="rounded-lg md:w-2/3">
            {% for item in cart %}
            <div class="mb-4 rounded-lg bg-white shadow-xl flex flex-col justify-between">
                <h2 class=" text-white font-shadow py-1 font-bold px-10 text-center bg-gray-700 rounded-t-lg">
                    {{ item.trip_name }}
                </h2>
                <!-- Cart Item details -->
                <div class="flex flex-col sm:flex-row shadow-inner">
                    <div class="p-3 relative">
                        <a href="{% url 'trip_details' pk=item.trip_id %}">
                        <img src="{{ item.trip_image }}"
                            alt="{{ item.trip_name }}"
                            class="object-cover rounded-lg shadow-lg">
                        </a>
                        <!-- Remove item button -->
                        <a href="{% url 'remove_from_cart_view' item.trip_id item.available_date_id %}"
                            class="absolute top-4 right-4 btn btn-sm btn-circle hover:bg-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="2"
                                    stroke="currentColor"
                                    class="w-6 h-6">
                                    <path stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            <span class="sr-only">Remove item</span>
                        </a>
                    </div>
                    
                    <div class="p-4 md:px-4 sm:px-6 w-full">
                        <div class="text-center">
                            <p class="text-sm font-bold uppercase text-gray-700 mb-1">
                                Selected Dates
                            </p>
                            <hr>
                            <p class="mt-3 font-medium text-sm text-gray-500">
                                Your Trip Starts
                            </p> 
                            <p class="w-full text-xl mb-2 badge glass bg-slate-100 py-4">
                                {{ item.start_date }}
                            </p>
                            <p class="font-medium text-sm text-gray-500">
                                Your Trip Ends
                            </p>
                            <p class="w-full text-xl mb-2 badge glass bg-slate-100 py-4">
                                {{ item.end_date }}
                            </p>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            {% endfor %}
            <!-- General notification about the cancellation policy -->
            <div class="p-2 my-4 bg-secondary glass rounded-lg text-sm text-center">
                <p><strong>Please note:</strong> Trips cannot be canceled within <strong>30 days</strong> of the start date.</p>
            </div>
            <div class="text-sm">
                {% if not user.is_authenticated %}
                <p class="text-center">If you would like to save this information</p>
                <div class="flex justify-center">
                    <!-- Login Button -->
                    <a href="{% url 'account_login' %}"
                    class="link text-blue-500"
                    aria-label="Login Button"
                    hx-get="{% url 'account_login' %}"
                    hx-target="#my_modal_3 .modal-box"
                    onclick="my_modal_3.showModal()"
                    >Login 
                    </a>
                    <p class="mx-2"> or </p>
                    <!-- Sign Up Button -->
                    <a href="{% url 'account_signup' %}"
                    class="link text-blue-500"
                    aria-label="Sign up Button"
                    hx-get="{% url 'account_signup' %}"
                    hx-target="#my_modal_3 .modal-box"
                    onclick="my_modal_3.showModal()"
                    >Sign Up
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Subtotal section -->
            <div class="mt-3  h-full rounded-lg text-white bg-gray-900 p-6 shadow-lg md:mt-0 md:w-[38%]">
                    <h2 class="text-center font-bold text-2xl uppercase font-shadow">
                        Order Summary
                    </h2>
                <hr class="my-4">
                <div id="order-summary" class="rounded-lg">
                    {% for item in cart %}
                        <div class="my-2 flex justify-between items-center bg-secondary glass p-2 rounded-lg">
                            <p class="text-sm text-primary font-bold max-w-[7rem] sm:max-w-[12rem] md:max-w-[7rem]">
                                {{ item.trip_name }}
                            </p>
                            <p class="text-primary font-bold">€
                                {{ item.base_price }}
                            </p>
                        </div>
                        
                        <div class=" flex justify-between items-center">
                            <p class="text-xs text-white font-bold max-w-[10rem]">
                                Additional Guests: 
                                <span class="ml-1 badge badge-sm px-[0.6rem] font-bold">
                                    {{ item.guests }}
                                </span>
                            </p>
                            <p class=" text-sm text-white pr-2">€
                                {{ item.guests|multiply:item.base_price }}
                            </p>
                        </div>
                        {% if item.guests > 0 %}
                        <div class="py-1">
                            <form method="POST" action="{% url 'update_cart_view' item.trip_id item.available_date_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="remove_all" value="1">
                                <button type="submit" class="btn btn-xs hover:btn-error hover:text-white">
                                    Remove all guests
                                </button>
                            </form>
                        </div>
                        {% endif %}
                        <!-- Add additional guests section -->
                        <div class="w-full mb-3 mt-1">
                            <form method="POST" 
                                action="{% url 'update_cart_view' item.trip_id item.available_date_id %}">
                                {% csrf_token %}
                                
                                <div class="flex items-center border-gray-100">
                                    <select class="text-gray-900 select select-bordered border-secondary select-xs max-w-xs mr-2"
                                            name="guests">
                                        {% for i in item.remaining_slots|get_range %}
                                            <option>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit"
                                            class="btn btn-xs btn-accent contrast-100">ADD
                                    </button>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                <hr class="my-4">
                <div class="flex justify-between">
                    <p class="text-lg font-bold">
                        Total Price
                    </p>
                    <div class="">
                        <p class="text-lg font-bold">
                            €{{ total }} EUR
                        </p>
                        <p class="text-xs text-right">
                            including VAT
                        </p>
                    </div>
                </div>
                <button class="btn glass bg-secondary hover:bg-accent hover:text-white w-full mt-3"
                        hx-get="{% url 'checkout' %}"
                        hx-target="#my_modal_3 .modal-box"
                        hx-select="#checkout_form" 
                        onclick="my_modal_3.showModal()">Proceed to Payment
                </button>
            </div>
        {% else %}

            <!-- Empty cart message -->
            <div class="mt-6 h-full rounded-lg border text-black p-6 shadow-md md:mt-0 md:w-1/2">
                <h2 class="text-center text-2xl">
                    Your Cart is Empty
                </h2>
                <a href="{% url 'trip_packages' %}" class="btn btn-primary text-secondary mt-6 w-full py-1.5">
                    Browse Trips
                </a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
