<!doctype html>
{% load static %}
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap">

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
      <meta name="description"
            content="Join expert-guided mountain climbing and hiking adventures in stunning destinations worldwide. Small group tours for all levels in the Alps, Himalayas, Rockies and more.">
    {% endblock %}

    {% block favicon %}
        <link rel="apple-touch-icon" sizes="180x180"
        href="{% static 'web_elements/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32"
        href="{% static 'web_elements/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16"
        href="{% static 'web_elements/favicon/favicon-16x16.png' %}">
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% endblock %}

    {% block extra_css %}
    <!-- Lightbox CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/css/glide.theme.min.css">
    {% endblock %}

    {% block corejs %}
    <script src="{% static 'js/lazysizes.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/sticky.min.js' %}"></script>
    <script
			src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
			crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Mont Adventures | Summit Your Dreams{% block extra_title %}{% endblock %}</title>
  </head>

  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <header>
      {% include 'includes/accounts-modal.html' %}
      {% include 'includes/nav-bar.html' %}
    </header>

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
      <script src="{% static 'js/toasts.js' %}"></script>
      <!-- Lightbox JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide@latest/dist/glide.min.js"></script>
      <script src="{% static 'js/htmx.min.js' %}"></script>
      {% endblock %}
    {% include 'includes/footer.html' %}
  </body>
</html>