/* Stripe Payment Form Styles */
/* -------------------------- */

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    padding: 10px 12px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* Form and Fieldset Styles */
/* ------------------------ */

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border-radius: 5px;
}

/* Select Dropdown Styles */
/* ---------------------- */

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

/* Loading Overlay Styles */
/* ---------------------- */

#loading-overlay {
    display: none;
    transition: opacity 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(17, 17, 17, 0.541);
    backdrop-filter: blur(2px);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

/* Loader Animation Styles */
/* ----------------------- */

.loader {
    margin: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top-color: #ffa516;
    border-bottom-color: #ffa516;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}