{% load static %}

{% load rating_filters %}

{% block content %}

<!-- Trip Card -->
<div class="border rounded-xl">

    <!-- Trip Link and Image -->
    <a href="{% url 'trip_details' trip.id %}"
        aria-label="View details for {{ trip.name }}">
        <img class="h-80 sm:h-[240px] w-full object-cover mb-4 border rounded-t-lg lazyload"
            src="{{ trip.get_image_url }}"
            alt="{{ trip.name }}"
            loading="lazy">
    </a>

    <!-- Trip Details -->
    <section class="mb-2">
        <h2 class="font-semibold md:text-sm lg:text-base text-gray-900 pl-5 mb-3">
            {{ trip.name }}
        </h2>

        <!-- Horizontal Rule -->
        <hr class="mx-5">

        <!-- Trip Attributes -->
        <div class="flex justify-evenly px-3 mt-3 opacity-70 py-1">
            <div class="text-center text-sm w-1/4">
                <img src="{% static trip.location_icon %}"
                    alt="Location icon"
                    class="w-6 h-6 mx-auto invert"
                >
                <p>
                    {{ trip.location_str }}
                </p>
            </div>
            <div class="text-center text-sm w-1/4">
                <img src="{% static trip.duration_icon %}"
                    alt="Duration icon"
                    class="w-6 h-6 mx-auto invert"
                >
                <p>
                    {{ trip.duration_str }}
                </p>
            </div>
            <div class="text-center text-sm w-1/4">
                <img src="{% static trip.difficulty_icon %}"
                    alt="Difficulty icon"
                    class="w-6 h-6 mx-auto invert"
                >
                <p>
                    {{ trip.difficulty_str }}
                </p>
            </div>
        </div>
    </section>

    <!-- Booking and Price -->
    <div class="py-2 px-4 flex justify-between bg-gray-100 rounded-b-lg">
        <a href="{% url 'trip_details' trip.id %}"
            class="btn glass bg-secondary btn-sm text-primary"
            aria-label="Book this trip now"
        >
            Book Now
        </a>
        <span class="inline-flex items-center text-primary">
            <strong class="text-primary">
                €{{ trip.price }}
            </strong> /pp.
        </span>
    </div>
</div>

{% endblock  %}