<!-- Search Drawer -->
<div class="drawer search-drawer z-10">
    <input id="my-search-drawer"
		type="checkbox"
		class="drawer-toggle"
		hx-trigger="change" 
		hx-target="#search-results">
    <div class="drawer-side">

        <!-- Drawer Toggle Label -->
        <label for="my-search-drawer"
				class="drawer-overlay"
				aria-hidden="true">
		</label>

		<!-- Drawer Content -->
        <div class="p-4 min-h-full w-full bg-slate-50 text-base-content">

			<!-- Drawer Header -->
			<div class="flex flex-col items-center justify-center text-2xl font-bold mb-2">
				<h2 class="text-center">
					Search
				</h2>
			</div>

            <!-- Search form -->
            <form method="GET"
                hx-get="{% url 'search_trips' %}"
                hx-trigger="keyup delay:100ms"
                hx-target="#search-results"
				onkeydown="return event.key !== 'Enter';"
				hx-swap="innerHTML transition:true">
                <div class="form-control mx-auto max-w-5xl">
                    <input type="text"
                        name="q"
                        placeholder="Search by name or location..."
                        aria-label="Search by name or location"
                        class="input input-bordered w-auto">
                </div>
            </form>

			<!-- Search Results -->
			<div id="search-results">
				{% include 'includes/search/search-results.html' %}
			</div>
		</div>
	</div>
</div>
<script>
	document.addEventListener("DOMContentLoaded", function() {
		const searchDrawerToggle = document.getElementById("my-search-drawer");
		const searchInput = document.querySelector("input[name='q']");
		const searchResultsTarget = document.getElementById("search-results");
	
		searchDrawerToggle.addEventListener("change", function() {
			if (this.checked) {
				
				this.setAttribute("hx-get", "{% url 'search_trips' %}?q=");
				document.body.classList.add("overflow-hidden");
	
				
				var url = "{% url 'search_trips' %}?q=";
				fetch(url)
					.then(response => response.text())
					.then(data => {
						searchResultsTarget.innerHTML = data;
					})
					.catch(error => console.error('Error fetching data:', error));
			} else {
				
				this.removeAttribute("hx-get");
				document.body.classList.remove("overflow-hidden");
			}
		});
	});
</script>
